<p>table works!</p>
<table class="table table-hover table-light">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>email</th>
    <th>address</th>
    <th>suite</th>
    <th>city</th>
    <th>zipcode</th>
    <th>latitude</th>
    <th>longitude</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address.street }}</td>
      <td>{{ user.address.suite }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.address.zipcode }}</td>
      <td>{{ user.address.geo.lat }}</td>
      <td>{{ user.address.geo.lng }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
