<div class="row">
  <div class="col">
    <!-- FORM FOR ADD  -->
    <form class="m-5">
      <h3>Add an User:</h3>
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Type a name.."
        />
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">surname</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Type a surname.."
        />
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">street</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Type a street.."
        />
        <div class="form-group mt-3">
          <label for="exampleInputPassword1">suite</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Type a suite.."
          />
          <div class="form-group mt-3">
            <label for="exampleInputPassword1">city</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Type a city.."
            />
            <div class="form-group mt-3">
              <label for="exampleInputPassword1">zipcode</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Type a zipcode.."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email.."
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>
  </div>

  <!-- TABLE -->
  <div class="col">
    <table class="mt-5 table table-hover table-light">
      <thead class="table table-hover table-primary">
        <tr>
          <th class="col">id</th>
          <th class="col">name surname</th>
          <th class="col"></th>
          <th class="col">email</th>
          <th class="col">address</th>
          <th class="col">suite</th>
          <th class="col">city</th>
          <th class="col">zipcode</th>
          <th class="col">latitude</th>
          <th class="col">longitude</th>
        </tr>
      </thead>
      <tbody class="table table-hover table-light">
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td class="col">{{ user.name }}</td>
          <td class="col">{{ user.surname }}</td>
          <td class="col">{{ user.email }}</td>
          <td class="col">{{ user.address.street }}</td>
          <td class="col">{{ user.address.suite }}</td>
          <td class="col">{{ user.address.city }}</td>
          <td class="col">{{ user.address.zipcode }}</td>
          <td class="col">{{ user.address.geo.lat }}</td>
          <td class="col">{{ user.address.geo.lng }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
